h1,
h3,
p {
  font-family: -apple-system, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
h3 {
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover::before {
  content: "#";
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  width: 16px;
  font-size: 16px;
  margin-left: -16px;
}
.container {
  margin: 0 auto;
  width: 342px;
  padding: 0 16px;
}
@media screen and (min-width: 600px) {
  .container {
    width: 600px;
    padding: 0 24px;
  }
}

.font-size-12 {
  font-size: 12px;
}
.mt-0 {
  margin-top: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.my-54 {
  margin-top: 54px;
  margin-bottom: 54px;
}
.underlined {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.using-css {
  color: green;
}

.using-js {
  color: red;
}

.sample {
  margin-bottom: 40px;
}
.sample > p,
h3:first-child::before {
  content: "▶";
  padding-right: 22px;
}

/* ::first-letter pseudo-element vs capitalizeFirstLetter(str) */
.cap-first-letter::first-letter {
  text-transform: uppercase;
}

/* text-transform property vs capitalizeString(str) */
.cap-str {
  text-transform: capitalize;
}

/* :last-child pseudo-class vs isLastItem variable */
.people-item-css::after {
  content: url("./arrow-right.jpeg");
  padding: 0 8px;
}
.people-item-css:last-child::after {
  content: "";
  padding: 0;
}

.people-item-js::after {
  content: url("./arrow-right.jpeg");
  padding: 0 8px;
}

/* :nth-of-type pseudo-class vs isEven variable */
.number-item-css {
  padding-right: 8px;
}
.number-item-css:nth-of-type(even) {
  font-weight: bold;
  text-decoration: underline;
}

.number-item-js {
  padding-right: 8px;
}
.number-even-item-js {
  font-weight: bold;
  text-decoration: underline;
}

.uppercased {
  text-transform: lowercase;
}
